:root {
    --primary-color-font: #212121;
    --second-color-font: #2196F3;
    --color-logo: #000000;
    --paragraph-color-font: #757575;
    --hero-color-font: #FFFFFF;
    --footer-color-font: rgba(255, 255, 255, 0.6);
    --hero-footer-color: #2F303A;
    --comand-color: #F5F4FA;
    --border-portfolio: #EEEEEE;
    --border-client: #AFB1B8;
    --color-social-footer: rgba(255, 255, 255, 0.1);
    --color-btn-form: #188CE8;

    --primary-font: "Roboto", sans-serif;
    --second-font: "Raleway", sans-serif;
}


/* =====Home work # 3===== */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


.header-container {
    display: flex;
    align-items: center;
}


.hero-padding {
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-color-bg {
    max-width: 1600px;
    max-height: 600px;
    /* background-image: linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url(../images/hero/img.jpg);     */
    background-image: linear-gradient( rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url(../images/hero-background.jpg);
    background-color: var(--hero-footer-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-title {
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.btn-box {
    box-sizing: border-box;
    min-width: 200px;
    min-height: 50px;
    border-radius: 4px;
}

.navigation-list {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.nav-right {
    margin-left: 40px;
}


.section-about {
    padding-top: 94px;
    background-color: var(--hero-color-font);
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-buzy {
    background-color: var(--hero-color-font);
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.logo-margin {
    margin-right: 93px;
  }

.nav-list-item:not(:last-child) {
    margin-right: 50px;
}


.contact-number {
    margin-left: 0;
}

.logo-footer {
    display: inline-block;
    margin-bottom: 28px;
}


.section-about__list {
    display: flex;
    flex-wrap: wrap;  
}

.section-about__item {
    flex-basis: calc((100% - 30px*3) / 4);
}

.section-about__item:not(:nth-child(4n)) {
    margin-right: 30px;
}


.section-about__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background-color: var(--comand-color);
    margin-bottom: 30px;
    border-radius: 4px;
}

.section-about__icon-image {
    width: 70px;
    height: 70px;
}

.section-buzy__image,
.person-img,
.portfolio-img {
    display: block;
    padding-bottom: 0;
    max-width: 368px;
}

.portfolio-img-thumb {
    position: relative;
    overflow: hidden;
}
.portfolio-img-thumb-discr {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);

    transition: 250ms transform cubic-bezier(0.4, 0, 0.2, 1);
    transform: translateY(100%);
}
.portfolio-descr-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    padding: 63px 24px;

    color: var(--hero-color-font);
}

.section-buzy__list {
    display: flex;
    flex-wrap: wrap;
}

.section-buzy__item {
    flex-basis: calc((100% - 30px*2) / 3);
    margin-bottom: 30px;
}

.section-buzy__item:not(:nth-child(3n)) {
    margin-right: 30px;
}

.section-buzy__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}


/* ==== Початок написів в секції "Чим ми займаємось" ==== */
.section-buzy__thumb {
    position: relative;
}
.section-buzy__text-thumb {
    display: inline-block;
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 368px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}
.section-buzy__description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--hero-color-font);    
}
/* ==== Кінець написів в секції "Чим ми займаємось" ==== */


.team-flex {
    display: flex;
    flex-wrap: wrap;
}

.team-flex > .person-flex {
    flex-basis: calc((100% - 30px*3) / 4);
    margin-top: 0px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-flex > .person-flex:not(:nth-child(4n+1)) {
    margin-left: 30px;
}

.team-flex > .person-flex:nth-child(n + 5) {
    margin-top: 30px;
}


.btn-flex-portfolio {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.btn-flex-portfolio > .btn-item-portfolio:not(:last-child) {
    margin-right: 8px;
}
/* =====Home work # 3===== */



.list {
    list-style: none;    
}

.link {
    text-decoration: none;
}

.body {
    color: var(--primary-color-font);

    font-family: var(--primary-font);
}

/* Navigation */


.logo {
    color: var(--color-logo);
}

.logo-part,
.current {
    color: var(--second-color-font);
}

.menu-link {
    position: relative;
}
.menu-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 4px;

    background: #2196F3;
    border-radius: 2px;
}

.logo,
.logo-part {
    font-family: var(--second-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

.nav-text {
    color: var(--primary-color-font);
}

.nav-list-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-link:hover,
.nav-list-link:focus {
    color: var(--second-color-font);
    cursor: pointer;
}


.nav-base-text {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.mail-tel-text,
.paragraph-text {
    color: var(--paragraph-color-font);
}


/* ==== Іконка в навігації ==== Початок */
.nav-icon {
    fill: currentColor;

    margin-right: 10px;
}
/* ==== Іконка в навігації ==== Кінець */



.mail-tel-text {
    display: flex;
    align-items:center;
    padding-top: 32px;
    padding-bottom: 32px;
}

.hero-color-text,
.logo-second,
.text-addres {
    color: var(--hero-color-font);
}


.mail-tel {
    margin-top: 12px;
}


.header-bg-color,
.section-buzy-bg-color,
.portfolio-bg-color,
.portfolio-fon 
{
    background-color: var(--hero-color-font);
}

.header-bg-color {
    border-bottom: 1px solid #ECECEC;;
}

.pesron-bg-color,
.portfolio-bg-color,
.portfolio-fon {
    background-color: var(--hero-color-font);
}

.hero-text {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;   
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.hero-align {
    margin-bottom: 30px;
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
}

.hero-btn {
    background-color: var(--second-color-font);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.nav-text,
.mail-tel-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.hero-color {
    background-color: var(--hero-footer-color);
    max-width: 1600px;
}

.footer-color {
    background-color: var(--hero-footer-color);
}

.footer-padding {
    padding-top: 60px;
    padding-bottom: 60px;
}

/* Main */

.section-about__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: var(--paragraph-color-font);
}

.description-profeshion {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 16px;
}

.card-content {
    padding-top: 30px;
    padding-bottom: 30px;
}


.name-person {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 10px;
}

.main-h-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 50px;
}

.section-buzy__main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 50px;
}

/* ===== Соц.мережі команди ===== Початок */
.social-list {
    display: flex;
    justify-content: center;
}

.social-list > .social-list-icons:not(:last-child) {
    margin-right: 10px;
}

.social-icon-size {
    max-width: 20px;
    max-height: 20px;
}

.social-list-link {
    color: var(--border-client);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
    color: var(--hero-color-font);
    background-color: var(--second-color-font);
    cursor: pointer;
}

.social-icon-size {
    fill: currentColor;
}


.social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: var(--hero-color-font);
    border-radius: 50%;
}
/* ===== Соц.мережі команди ===== Кінець */





/* ===== Постійні клієнти ===== Початок */
.company-flex {
    display:flex;
    flex-wrap: wrap;
}
.company-flex > .icon-client-list {
    flex-basis: calc((100% - 30px*5) / 6);
    margin-top: 0px;
    border-radius: 4px;
    height: 92px;
}
.icon-client-list:nth-child(n + 7) {
    margin-top: 30px;
}
.icon-client-list:not(:nth-child(6n)) {
    margin-right: 30px;
}


.client-hover-focus {
    display: flex;
    fill: var(--border-client);
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-client);
    border-radius: 4px;
    cursor: pointer;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-hover-focus:hover,
.client-hover-focus:focus {
    border: 1px solid var(--second-color-font);
}
.client-hover-focus:hover  .icon-client,
.client-hover-focus:focus  .icon-client {
    fill: var(--second-color-font);
}

.icon-client {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-client-ya-co {
    width: 41px;
    height: 47px;    
}
.icon-client-tagline-here {
    width: 40px;
    height: 52px;
}
.icon-client-company {
    width: 44px;
    height: 42px;
}
.icon-client-foster-peters {
    width: 84px;
    height: 40px;
}
.icon-client-brand {
    width: 62px;
    height: 45px;
}
.icon-client-tag-line {
    width: 94px;
    height: 44px;
}

/* ===== Постійні клієнти ===== Кінець */


/* ===== Соц.мережі футера ===== Початок */
.social-list-footer {
    display: flex;
    justify-content: center;
}


.social-list-footer > .social-list-icons-footer:not(:last-child) {
    margin-right: 10px;
}

.social-icon-size-footer {
    max-width: 20px;
    max-height: 20px;
}

.social-list-link-footer {
    color: var(--hero-color-font);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link-footer:hover,
.social-list-link-footer:focus {
    color: var(--hero-color-font);
    background-color: var(--second-color-font);
    cursor: pointer;
}

.social-icon-size-footer {
    fill: currentColor;
}

.social-list-link-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: var(--color-social-footer);
    border-radius: 50%;
}
/* ===== Соц.мережі футера ===== Кінець */



.section-about__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 10px;
}

.comand-bg-color {
    background-color: var(--comand-color);
}

/* Footer */

.mail-tel-footer {
    color: var(--footer-color-font);
}

.text-addres,
.mail-tel-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/*================*/
/* Portfolio page */

.card-portfolio {
    padding-top: 20px;
    padding-right: 24px;
    padding-bottom: 20px;
    padding-left: 24px;
}



.portfolio-btn {
    min-width: 38px;
    min-height: 38px;
    border-radius: 4px;
    padding: 6px 22px;
    border: 0;
    cursor: pointer;

    color: var(--primary-color-font);
    background-color: var(--comand-color);

    font-weight: 500;
    font-size: 16px;
    line-height: 1.63;
    text-align: center;
    letter-spacing: 0.03em;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    background-color: var(--second-color-font);
    color: var(--hero-color-font);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}



.container-portfolio {
    display: flex;
    flex-wrap: wrap;
}

.container-portfolio > .portfolio-item {
    flex-basis: calc((100% - 30px*2) / 3);
    margin-top: 0px;
}


.container-portfolio > .portfolio-item:not(:nth-child(3n+1)) {
    margin-left: 30px;
}

.container-portfolio > .portfolio-item:nth-child(n + 4) {
    margin-top: 30px;
}

.portfolio-item {
    box-sizing: border-box;
    width: calc((100% - 30px*2) / 3);
    border: 1px solid var(--border-portfolio);
}

.portfolio-hover {
    display: block;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-hover:hover,
.portfolio-hover:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);    
}
.portfolio-hover:hover .portfolio-img-thumb-discr,
.portfolio-hover:focus .portfolio-img-thumb-discr {
    transform: translateY(0);
}


.portfolio-names {
    color: var(--primary-color-font);

    font-weight: 700;
    font-size: 18px;
    line-height: 2.0;
    letter-spacing: 0.06em;

    margin-bottom: 4px;
}

.portfolio-names-upper {
    text-transform: uppercase;    
}

.portfolio-discr {
    color: var(--paragraph-color-font);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;     
}


.container-footer {
    display: flex;
    align-items: baseline;
}

.footer-address-width {
    margin-right: 25px;
}

.footer-add {
    font-family: var(--primary-font);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--hero-color-font);

    margin-bottom: 20px;
}

.margin-footer {
    margin-left: auto;
}



/* ==== Початок модального вікна ==== */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    transform: scale(1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
  
.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;

    transform: scale(1.15);
}
  
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 580px;
    background-color: var(--hero-color-font);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}
  
.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.modal-close-icon {
    fill: var(--color-logo);    

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover .modal-close-icon {
    fill: var(--second-color-font);
}
/* ==== Кінець модального вікна ==== */



/* ==== Початок підписання в футері ==== */
.form-signup {
    display: flex;
}

.form-signup-input {
    display: flex;
    align-items: center;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    padding-left: 16px;

    background-color: transparent;

    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);

    margin-right: 12px;
}

.form-signup-btn {
    display: flex;
    align-items: center;
    text-align: center;
    max-width: 200px;
    min-height: 50px;
    padding: 10px 62px 10px 28px;

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;

    color: var(--hero-color-font);

    border: none;

    background: var(--second-color-font);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.form-signup-icon {
    min-width: 24px;
    min-height: 24px;
    margin-left: 10px;
}
/* ==== Кінець підписання в футері ==== */



/* ==== Початок форми в модальному вікні ==== */
.contact-form{
    padding: 40px;
}

.contact-form-title {
    margin-bottom: 12px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-color-font);
}

.contact-form-field {
    display: block;
    margin-bottom: 10px;
}

.contact-form-comment {
    display: block;
    margin-bottom: 20px;
}

.contact-form-names {
    display: block;
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: var(--paragraph-color-font);
}

.contact-form-input-wrapper {
    position: relative;
}

.contact-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
}

.contact-form-input:focus {
    outline: none;
    border-color: var(--second-color-font);
}

.contact-form-icon {
    fill: var(--primary-color-font);
}

.contact-form-input:focus + .contact-form-icon {
    fill: var(--second-color-font);
}

.contact-form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
}

.contact-form-message {
    box-sizing: border-box;

    width: 100%;
    height: 120px;
    padding: 12px 16px;
    resize: none;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.contact-form-message::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

.contact-form-checkbox-wrapper {
    display: flex;
    align-items: center;
    margin-left: 12px;

    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;  
}
.contact-form-checkbox-text {
    color: var(--paragraph-color-font);
}
.contact-form-checkbox-link {
    color: var(--second-color-font);
    text-decoration: underline;
}

.contact-form-checkbox-label {
    display: flex;
    align-items: center;
    margin-left: 9px;
}




/* Иконка */
.contact-form-checkbox-check {
    fill: var(--hero-color-font);
    stroke: var(--hero-color-font);
    background-color: var(--second-color-font);
    border-radius: 2px;
    margin-right: 7px;
}
.contact-form-checkbox-empty {
    fill: var(--primary-color-font);
    margin-right: 7px;
    border-radius: 2px;
}


/* Ховер на чекбоксі */
.contact-form-checkbox-label:hover > .contact-form-checkbox:not(:disabled):not(:checked) ~ .contact-form-checkbox-empty {
    box-shadow: 0 0 0 2px var(--color-logo);
    cursor: pointer;
}
.contact-form-checkbox-label:hover > .contact-form-checkbox:checked ~ .contact-form-checkbox-check {
    box-shadow: 0 0 0 2px var(--color-logo);
    cursor: pointer;
}
/* Ховер на чекбоксі */

/* Фокус на чекбоксі */
.contact-form-checkbox:not(:disabled):not(:checked):focus ~ .contact-form-checkbox-empty {
    box-shadow: 0 0 0 2px var(--color-logo);
    cursor: pointer;
}

.contact-form-checkbox:checked:focus ~ .contact-form-checkbox-check {
    box-shadow: 0 0 0 2px var(--color-logo);
    cursor: pointer;
}
/* Фокус на чекбоксі */




.contact-form-checkbox:checked ~ .contact-form-checkbox-empty {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.contact-form-checkbox:not(:checked) ~ .contact-form-checkbox-check {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}




/* Кнопка */
.contact-form-submit-btn {
    display: flex;
    margin: 30px auto 0 auto;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--hero-color-font);
    border: none;

    box-sizing: border-box;
    min-width: 200px;
    min-height: 50px;
    padding: 10px 52px;

    background: var(--second-color-font);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
}

.contact-form-submit-btn:hover,
.contact-form-submit-btn:focus {
    background: var(--color-btn-form);
}
/* ==== Кінець форми в модальному вікні ==== */



/* ========================================================= */
/* Для школьного сайта */
.hero-background {
    /* background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-mobile.jpg"); */
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-background.jpg");
    background-color: var(--hero-footer-color);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  @media screen and (min-width: 480px) {
    .hero-background {
      width: 100%;
      height: auto;
      background-size: 100% auto;
    }
  }
  @media screen and (min-width: 768px) {
    .hero-background {
      /* background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet.jpg"); */
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-background.jpg");
    }
  }
  @media screen and (min-width: 1200px) {
    .hero-background {
      max-width: 1600px;
      max-height: 600px;
      /* background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop.jpg"); */
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-background.jpg");
      background-size: 1600px 600px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  .hero-padding {
    padding-top: 118px;
    padding-bottom: 118px;
  }
  @media screen and (min-width: 1200px) {
    .hero-padding {
      padding-top: 200px;
      padding-bottom: 200px;
    }
  }
  
  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 767px), screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .hero-background {
      /* background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-mobile@2x.jpg"); */
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-background.jpg");
    }
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 768px), screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero-background {
      /* background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tablet@2x.jpg"); */
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-background.jpg");
    }
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero-background {
      /* background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-desktop@2x.jpg"); */
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-background.jpg");
    }
  }