/* ==== Початок бекдропу в модальному вікні ==== */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);

    transform: scale(1);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &.is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    
        transform: scale(1.15);
    }
}
  
.modal {
    // position: sticky;
    // top: 0;

    // @media screen and (min-height: 648px) {
    //     & {
    //         position: absolute;
    //         top: 50%;
    //         left: 50%;
    //         transform: translate(-50%, -50%);
    //     }
    // }
   
    width: 100%;
    height: 662px;

    background-color: var(--hero-color-font);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    @media screen and (max-width: 288px) {
        @media screen and (max-height: 661px) {
            & {
                position: sticky;
                top: 0;
            }
        }    
        @media screen and (min-height: 662px) {
            & {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    @media screen and (min-width: 289px) {
        & {
            height: 648px;
        }
        @media screen and (max-height: 647px) {
            & {
                position: sticky;
                top: 0px;
            }
        }
        @media screen and (min-height: 648px) {
            & {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    @media screen and (min-width: 301px) {
        & {
            height: 626px;
        }
        @media screen and (max-height: 625px) {
            & {
                position: sticky;
                top: 0px;
            }
        }
        @media screen and (min-height: 626px) {
            & {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    @media screen and (min-width: 441px) {
        & {
            height: 612px;
        }
        @media screen and (max-height: 611px) {
            & {
                position: sticky;
                top: 0px;
            }
        }
        @media screen and (min-height: 612px) {
            & {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }

    @media screen and (min-width: 450px) {
        & {
            width: 450px;
        }
        @media screen and (max-height: 612px) {
            & {
                position: sticky;
                top: 0px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        @media screen and (min-height: 612px) {
            & {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }


    
    @media screen and (min-width: 1200px) {
        width: 528px;
        height: 580px;

        @media screen and (max-height: 580px) {
            & {
                position: sticky;
                top: 0px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        @media screen and (min-height: 580px) {
            & {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }


}
  
.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.modal-close-icon {
    fill: var(--color-logo);    

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .modal-close-btn:hover & {
        fill: var(--second-color-font);
    }
}


/* ==== Початок форми в модальному вікні ==== */
.contact-form {
    padding: 40px;
}

.contact-form-title {
    // margin-bottom: 26px;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primary-color-font);

    @media screen and (min-width: 1200px) {
        & {
            margin-bottom: 12px;
        }
    }

    @media screen and (max-height: 590px) {
        & {
            margin-bottom: 14px;
        }
    }
    @media screen and (min-height: 590px) {
        & {
            margin-bottom: 26px;
        }
    }
}

.contact-form-field {
    display: block;
    margin-bottom: 10px;
}

.contact-form-names {
    display: block;
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;

    color: var(--paragraph-color-font);
}

.contact-form-input-wrapper {
    position: relative;
}

.contact-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;

    &:focus {
        outline: none;
        border-color: var(--second-color-font);
    }
}

.contact-form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    fill: var(--primary-color-font);

    .contact-form-input:focus + & {
        fill: var(--second-color-font);
    }
}

.contact-form-comment {
    display: block;
    // margin-bottom: 20px;

    @media screen and (max-height: 590px) {
        & {
            margin-bottom: 5px;
        }
    }
    @media screen and (min-height: 590px) {
        & {
            margin-bottom: 10px;
        }
    }
}

.contact-form-message {
    box-sizing: border-box;

    width: 100%;
    height: 120px;
    padding: 12px 16px;
    resize: none;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    &::placeholder {
        font-weight: 400;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.01em;
    
        color: rgba(117, 117, 117, 0.5);
    }

    @media screen and (max-height: 504px) {
        & {
            height: 40px;
        }
    }
    @media screen and (min-height: 504px) {
        & {
            height: 80px;
        }
    }
    @media screen and (min-height: 546px) {
        & {
            height: 120px;
        }
    }
}

.contact-form-checkbox-wrapper {
    display: flex;
    align-items: center;
    margin-left: 0;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;

    @media screen and (min-width: 1200px) {
        & {
            margin-left: 12px;
    
            font-size: 14px;
            line-height: 1.71;
        }
    }
}

.contact-form-checkbox-label {
    display: flex;
    align-items: center;

    @media screen and (min-width: 1200px) {
        & {
            margin-left: 9px;
        }
    }
}


/* Іконка */
.contact-form-checkbox-empty {
    fill: var(--primary-color-font);
    margin-right: 7px;
    border-radius: 2px;
    min-width: 16px;
    min-height: 15px;
   

    .contact-form-checkbox:checked ~ & {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    /* Ховер та фокус на чекбоксі */
    .contact-form-checkbox-label:hover > .contact-form-checkbox:not(:disabled):not(:checked) ~ &,
    .contact-form-checkbox:not(:disabled):not(:checked):focus ~ & {
        box-shadow: 0 0 0 2px var(--color-logo);
        cursor: pointer;
    }
}

.contact-form-checkbox-check {
    fill: var(--hero-color-font);
    stroke: var(--hero-color-font);
    background-color: var(--second-color-font);
    border-radius: 2px;
    margin-right: 7px;
    min-width: 16px;
    min-height: 15px;

    .contact-form-checkbox:not(:checked) ~ & {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        border: 0;
        padding: 0;
        
        white-space: nowrap;
        clip-path: inset(100%);
        clip: rect(0 0 0 0);
        overflow: hidden;
    }

    /* Ховер та фокус на чекбоксі */
    .contact-form-checkbox-label:hover > .contact-form-checkbox:checked ~ &,
    .contact-form-checkbox:checked:focus ~ & {
        box-shadow: 0 0 0 2px var(--color-logo);
        cursor: pointer;
    }
}

.contact-form-checkbox-link {
    color: var(--second-color-font);
    text-decoration: underline;
}


// @media screen and (min-width: 289px) {
//     .modal {
//         height: 648px;
//     }
// }


// @media screen and (min-width: 301px) {
//     .modal {
//         height: 626px;
//     }
// }

// @media screen and (min-width: 441px) {
//     .modal {
//         height: 612px;
//     }
// }

// @media screen and (min-width: 450px) {
//     .modal {
//         width: 450px;
//     }
// }

// @media screen and (min-width: 480px) {}

// @media screen and (min-width: 768px) {}

// @media screen and (min-width: 1200px) {
    // .modal {
    //     width: 528px;
    //     height: 580px;
    // }

    // .contact-form-title {
    //     margin-bottom: 12px;
    // }

    // .contact-form-checkbox-wrapper {
    //     margin-left: 12px;

    //     font-size: 14px;
    //     line-height: 1.71;
    // }

//     .contact-form-checkbox-label {
//         margin-left: 9px;
//     }
// }