.hero-btn {
    background-color: var(--second-color-font);

    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
}

.btn-box {
    box-sizing: border-box;
    min-width: 200px;
    min-height: 50px;
    border-radius: 4px;
}