:root {
    --primary-color-font: #212121;
    --second-color-font: #2196F3;
    --color-logo: #000000;
    --paragraph-color-font: #757575;
    --hero-color-font: #FFFFFF;
    --footer-color-font: rgba(255, 255, 255, 0.6);
    --hero-footer-color: #2F303A;
    --comand-color: #F5F4FA;
    --border-portfolio: #EEEEEE;
    --border-client: #AFB1B8;
    --color-social-footer: rgba(255, 255, 255, 0.1);
    --color-btn-form: #188CE8;

    --primary-font: "Roboto", sans-serif;
    --second-font: "Raleway", sans-serif;
}